body{
    background-image: url(./src/img/surf_background.png);  
    color: white;  
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

div .display-4{
  font-family: 'Fredericka the Great', cursive;
}

div{
font-family: 'Open Sans Condensed', sans-serif;
}

img{
  display: inline;
  width: 40%;
  height: auto;
  transform: rotate(90deg);
  float: right;
  z-index: -1;
  border: black 2px solid;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {

}