/* HOME PAGE STYLING  */

/* NAVIGATION STYLING  */
nav.header {
position: absolute;
top: 0px;
width: 100%;
background-color: rgb(54, 54, 54);
height: 35px;
display: flex;
align-items: center;
}
button{
  display: none;
}

nav.header a{
text-decoration: none;
color: white;
padding-right: 15px;
font-family: 'Open Sans Condensed', sans-serif;;
}

nav.header a:hover{
  color:  rgb(5, 173, 252);
}

/* HEADER STYLING  */

body {
  margin: 0;
  background-image: url(port.png);
  font-family:'Open Sans Condensed', sans-serif;
  width: 100%;
  font-size: 1rem;
  background-position: 300px 30px;
}

div.header{
margin-top: 30px;
height: 400px;
display: flex;
flex-direction: column;
text-align: left;
}

h1{
margin-top: 30px;
height: 400px;
display: flex;
margin-left: 50px;
margin-top: 200px;
font-size: 80px;
flex-direction: column;
font-family:'Luckiest Guy', cursive;
}

span{
display: flex;
font-size: 50px;
color: rgb(54,54,54);
}

div.body{
display: flex;
flex-direction: row;
}


nav.header a{
display: flex;
text-decoration: none;
color: white;
font-size: 1.3rem;
padding-right: 15px;}

/* ABOUT ME STYLING  */

.grid-container {
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-areas: "nav nav nav nav" "content content pic pic" "content content pic pic" "content content pic pic";
}

.nav { grid-area: nav; }

.content { 
grid-area: content;
margin-top: 35px; 
margin-left: 50px;
width: 40%;}

.pic { 
grid-area: pic;
display: block;
position: absolute;
background-color:white;
top: 80px;
left: 800px;
 }

div.content {
display: flex;
flex-direction: column;
}

h2.about{
color:rgb(54, 54, 54);
font-family:'Comfortaa', cursive;
}

img{
  max-width: 300px;
  height: auto;
  border-radius: 8%;

}

img:hover{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: grayscale(100%);
}

body.different {
background-image: none;
background-color: white;
}

span.goal{
  font-size:medium;
  font-weight: 600; 
}

/* REACH OUT STYLING  */

h2{
  line-height: 1.5;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: blink;
}

h2:hover{
  color: rgb(5, 173, 252);
  transition: ease-in;
}


div.Wholepage {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.intro{
  margin-top: 32px;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-email{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.namebox{
  display: flex;
  flex-direction: column;
}

.emailtext,
.nametext{
  width: 230px;
  margin-right: 90px;
  border-radius: 5px;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 300;
}

label.message,
.name,
.email {
  font-size: 1.4rem;
}

.message-centered {
  margin-top: 5%;
}

textarea{
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 300;
}

.emailtext,
.nametext,
textarea {
border: rgb(206, 206, 206) 0.5px solid;
}

button.reach{
  display: flex;
  color: rgb(5, 173, 252);
  border-radius: 5rem;
  margin-left: 220px;
  margin-bottom: 2rem;
  border-width: 2px;
  margin-top: 2rem;
 background-color: transparent;
 border: rgb(5, 173, 252) 1px solid;
 color:rgb(5, 173, 252);
 transition: ease-in;
 font-size: 1.5rem;
font-weight: 300;
}

button:hover{
  background-color: rgb(5, 173, 252);
  color: white;
  cursor: pointer;
  ;
}

/* PORTFOLIO STYLING  */

.hero{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 35px;
  height: 400px;
  background-image: url(bright-clear-close-up-401107.jpg);
  background-size:cover;
  filter: opacity(80%);
};


h1.hero{
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
}

h1.works{
  color: white;
  font-size: 5rem;
}

p.intro-port{
  margin-left: 13%;
  color: white;
}

.whole-body{
margin-left: 100px;
margin-right: 100px;
}

div.portfolio{
  height: 350px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.home-pic{
margin-top: 30px;
margin-right: 30px;
margin-bottom: 18px;
}

.port{
margin-left: 50px;
margin-right: 30px;
width: 500px;
}

div.portfolio:hover{
border: black 4px transparent;
-webkit-box-shadow: 11px 11px 0px 0px rgba(0, 0, 0, 0.27);
-moz-box-shadow:    11px 11px 0px 0px rgba(0, 0, 0, 0.27);
box-shadow:         11px 11px 0px 0px rgba(0, 0, 0, 0.27);
transform: scale(1.2) 2s;
border: solid 2px rgb(211, 211, 211); 
}

img.home{
  margin-top: 60px;
  margin-right: 50px;
  max-width: 400px;
  height: auto;
  border-radius: 0px;
  border: inset rgb(211, 211, 211) 2px;
}